<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKEqNXqcvOiQWnExJV_dMTYn-DR7SVj6s</string>
	<key>GCM_SENDER_ID</key>
	<string>445235936509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ex.Nexus</string>
	<key>PROJECT_ID</key>
	<string>nexus-913f6</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-913f6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445235936509:ios:3711e17683ce846dd9d294</string>
</dict>
</plist>